[Unit]
Description=Capstone Project Raspberry Pi 2 Service
After=network.target

[Service]
ExecStart=/usr/bin/python3 /home/pi/pi2/scripts/main_pi2.py
WorkingDirectory=/home/pi/pi2/
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi

[Install]
WantedBy=multi-user.target
