[Unit]
Description=Capstone Project - Raspberry Pi 1 Service
After=network.target

[Service]
Type=simple
User=raspberry-1
Group=raspberry-1
WorkingDirectory=/home/raspberry-1/capstonepupr/src/pi1/scripts
ExecStart=/usr/bin/python3 main_pi1.py
Environment=PYTHONPATH=/home/raspberry-1/capstonepupr/src/pi1
Restart=on-failure
StandardOutput=null
StandardError=null

[Install]
WantedBy=multi-user.target
