[Unit]
Description=Capstone Project - Raspberry Pi 2 Service
After=network.target

[Service]
ExecStart=/usr/bin/python3 /scripts/main_pi2.py
WorkingDirectory=/home/raspberry-2/capstonepupr/src/pi2/scripts
StandardOutput=append:/home/raspberry-2/capstonepupr/src/pi2/logs/pi2_logs.log
StandardError=append:/home/raspberry-2/capstonepupr/src/pi2/logs/pi2_logs.log
Restart=on-failure
User=raspberry-2
Group=raspberry-2

[Install]
WantedBy=multi-user.target
